@model List<CatalogoModel>
@{
    ViewData["Title"] = "Listar_Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
  <div class="card-header">
    Gestionar Catalogo
  </div>
  <div class="card-body">
    <a asp-action="FGuardar_Inventario" asp-controller="G_Inventario" class="btn btn-success"><i class="bi bi-plus-circle"></i> Crear Nuevo</a>
    <hr />
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre Producto</th>
                <th>Descripcion</th>
                <th>Tipo producto</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Detalle unidad</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.InventarioId</td>
                        <td>@item.NProducto</td>
                        <td>@item.Descripcion</td>
                        <td>@item.TipoProducto</td>
                        <td>@item.EstadoProducto</td>
                        <td>@item.Stock</td>
                        <td>@item.DetalleUnidad</td>
                        <td>
                            <a asp-action="FEditar_Inventario" asp-controller="G_Inventario" class="btn btn-primary btn-sm" asp-route-I_ID="@item.InventarioId">Editar</a>
                            <a asp-action="Editar_SInventario" asp-controller="G_Inventario" class="btn btn-warning btn-sm" asp-route-I_ID="@item.InventarioId">Stock</a>
                            <a asp-action="Eliminar_PInventario" asp-controller="G_Inventario" class="btn btn-danger btn-sm" asp-route-I_ID="@item.InventarioId">Eliminar</a>
                        </td>
                    </tr>

                }
        </tbody>
    </table>
        

  </div>
</div>

